<h1>My tasks</h1>

<% @tasks.each do |task| %>
<% if task.completed == true %>
  <p>
    <i class="fa-regular fa-square-check"></i>
    <%= link_to task.title, task_path(task) %>
  </p>
  <% else %>
    <p>
    <i class="fa-regular fa-square"></i>
    <%= link_to task.title, task_path(task) %>
  </p>
  <% end %>
<% end %>
<br>
<%= link_to "Add new Task", new_task_path %>
